#barra_menu{
	overflow: auto;
	padding: 5px;
	background-color: white;
	border-bottom: 1px solid lightgray;
}

#bandeja{

	overflow: auto;
	border:1px solid lightgray;
	height: 430px;
	background-color: white;
	
	padding-top: 20px;
	margin-top:5px;
}

.box-title{
	
	border-bottom: 1px double lightgray;
	margin-bottom: 0px;
	padding-bottom: 10px;
	padding-left: 20px;
}

#lista{
	padding: 0px 20px;
	
}

.left-menu{
	overflow: hidden;
	display: block;
	margin-top:5px;
	list-style: none;
	padding-left: 0px; 
	background-color:white;
	
	
	border:1px solid lightgray;
}


.left-menu li{
	border-bottom: 1px dotted lightgray;
}

.h-separator{
	border-bottom: 1px solid lightgray;
}

.left-line{
	border-left: 1px solid lightgray;
}

.ll-line{
	border-left: 1px solid lightgray;
	//border-top: 1px solid lightgray;
	border-right: 1px solid lightgray;
}

.mensaje .titulo{
	//border-bottom: 1px solid lightgray;
	text-shadow: 1px 1px 2px lightgray;
	font-family: calibri;
	margin-top: 5px;
	padding-bottom: 0px;
	color: #337ab7;

}

.cuerpo-mensaje{
	
	padding:0px 20px;

}
	
.cuerpo-mensaje p{
	margin: 5px 0px;
}

.mensaje{
	
	font-size: 16px;
}

.left-menu li a{
	display: block;
	height: 40px;
	line-height:40px;
	padding-left: 15px;
	text-decoration: none;
	
}
.left-menu li a span{
	float: right;
	border: 1px solid lightblue;
	color: white;
	background-color: #337ab7;
	font-size: 13px;
	margin-top: 10px;
	margin-right: 10px;
}

.left-menu li a:hover{
	background-color: lightgray;
	color: white;
}

.left-menu .activo{
	background-color: #337ab7;
	color: white;
}

.left-menu .activo .badge{
	color: gray;

	background-color: white;
}

.modal .form-group .form-control{
	border-radius: 0px;
}