#barra_menu{
	overflow: auto;
	padding: 5px;
	background-color: white;
	border-bottom: 1px solid lightgray;
}

#area_mensajes{
	overflow: auto;
	border:1px solid lightgray;
	max-height: 350px;
	background-color: white;
	padding: 10px;
	margin-top:5px;
}

.left-menu{
	overflow: hidden;
	display: block;
	margin-top:5px;
	list-style: none;
	padding-left: 0px;
	background-color:white;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	border:1px solid lightgray;
}

.left-menu li{
	border-bottom: 1px dotted lightgray;
}
.h-separator{
	border-bottom: 1px solid lightgray;
}

.left-line{
	border-left: 1px solid lightgray;
}

.ll-line{
	border-left: 1px solid lightgray;
	//border-top: 1px solid lightgray;
	border-right: 1px solid lightgray;
}

.message-header h1{
	display: block;
	font-size: 25px;
	font-weight: lighter;
	padding-bottom:10px;
	margin-bottom: 10px;
	border-bottom: 1px solid lightgray;
}

.message-header span{
	display: block;
	//font-family: "Consolas";
	text-align: right;
	margin: 2px 0px;
	font-size: 16px;
	text-align: right;
	color: #919189;
}

.message-body .body{
	padding: 5px 8px;
	
	font-size: 18px;
	font-family: "Calibri";
}

.message-footer{
	border-top: 1px solid lightgray;
}

.message-footer a{
	display: block;
	text-align: left;
}