#cabecera{
	padding: 0px;
}

h1,h2,h3,h4,h5{
	margin: 2px 0px;
}

html,body{

	padding-bottom: 10px;

}

body{
	background-color: rgba(245,245,245,1.0);

}

header{
	background-color: #03447F;
	color: white;
	padding: 5px 0px;
}

header img{
	
}

footer{

	font-size: 12px;
	padding-top: 0px;
	height: 25px;
}

.contenido{

	background-color: white;
	padding: 15px 15px;
	border-radius: 6px;
	margin: 20px 0px;
	border:1px solid lightgray;
	display: block;
	overflow: auto;
	
}
.separador{
	display: block;
	background-color: white;
	height: 20px;
}


.v-line{
	border-left: 1px solid lightgray;
}

.h-line{
	border-bottom: 1px solid lightgray;
}

#btn_perfil {

  margin-top: 3px;
  margin-bottom: 0px;
  border: none;
  border-radius: 0px;
}

.navbar{
	
	
}
.navbar-text{
	float:none;
}
/*REDIMENSIONANDO IMAGENES DE LA CABECERA*/
.img{

	height: 50%;
	width: 50%;
	margin-top:5px;
	margin-bottom: 5px;
	display: block;
	
}
.img-redonda{
	border-radius: 50%;
}

.menu li:hover > ul{
	display: block;

}

/*ESTILO PARA EL MENU*/
nav{
	background-color: white;
}
nav .container{
	padding: 0px;
}

.menu{
	list-style: none;
	padding-left: 0px;
	margin: 0px 0px;
	overflow: auto;
	float: left;
}

.menu > li{

	display: block;
	float: left;
	font-size: 15px;
	line-height: 30px;
	margin: 0px 0px;
	
	text-align: left;
	border-right:1px solid lightgray;
}

.menu li a{
	font-family: 'Lucida sans';
	font-weight: ;
	font-size: 12px;
	display: block;
	height: inherit;
	width: inherit;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 15px;

}

.menu li ul li{
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;

}
.sub-menu:hover{
	border-right: none;
}
.sub-menu span{
	float:right;line-height:30px;font-size:12px;
}
.menu li ul li a{
	padding-left: 20px;
}
.menu li a:hover{
	background-color: #458;
	color: white;
}

.menu li:hover > ul{

	display: block;
}

.menu li ul{
	border-bottom: 1px solid lightgray;
	margin-left: -1px;
	display: none;
	list-style: none;
	background-color: white;
	z-index: 1;
	position: absolute;
	text-align: left;
	padding-left: 0px;
	min-width: 150px;
	box-shadow: 1px 0px 1px 0px gray;
}

.menu li ul li ul{
	border-top: 1px solid lightgray;

	margin-top: -30px;
	right: -150px;
	position: absolute;
}

.menu li ul li ul li{
	border-left: none;
}

#img_perfil{

	max-width: 40px;
	max-height: 30px;
	
}

#btn_perfil{
	margin-top: 0px;

}

#btn_perfil {
	float: right;
	display: block;
	text-decoration: none;

}

.no-padding{
	padding:0px 0px;
}
#btn_perfil span{

}

.btn-menu-perfil{
	margin-right: auto;
	display: none;
	list-style: none;
	padding: 0px 10px;
	border-radius: 6px;
	position: absolute;
	background-color: white;
	min-width: 120px;
	z-index: 2;
	margin-top: 32px;
}

.btn-menu-perfil li a{
	display: block;
	padding-left:25px;
	line-height: 30px;
	border-bottom: 1px dotted gray;
}
/*ESTILO PARA FORMULARIOS*/
.form-title{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px 10px;
	border-bottom: 1px solid lightgray;
}
/*HELPERS*/
.border{
	border: 1px solid lightgray;
}