#cabecera{
	padding: 0px;
}

h1,h2,h3,h4,h5{
	margin: 2px 0px;
}

body{
	//background-color: rgba(245,245,245,1.0);
	background-color: #E5EBF2;
}

header{
	background-color: #03447F;
	color: white;
	padding: 5px 0px;
}

.contenido{

	background-color: white;
	padding: 15px 15px;
	border-radius: 2px;
	margin: 10px 0px;
	border:1px solid lightgray;
	display: block;
	overflow: auto;
	
}
.separador{
	display: block;
	background-color: white;
	height: 20px;
}


/*REDIMENSIONANDO IMAGENES DE LA CABECERA*/
.img{

	height: 50%;
	width: 50%;
	margin-top:5px;
	margin-bottom: 5px;
	display: block;
	
}

/*ESTILO PARA EL MENU*/
nav{
	background-color: white;
	border-bottom: 1px solid lightgray;
}

nav ul{
	list-style: none;
	padding-left: 0px;
}

.menu >li{
	float: left;
}

.menu ul li a span{
	float: right;
	line-height: 30px;
	font-size: 12px;
}

nav .menu li{
	font-family: "Calibri";
	font-size: 14px;
	font-weight: bold;
	height: 30px;
	min-width: 80px;
	border-right: 1px solid lightgray;
}

nav .menu li a{
	font-weight: bolder;
	padding:0px 10px;
	text-decoration: none;
	line-height: 30px;
	display: block;
	height: inherit;
	width: inherit;
}

.menu{
	float: left;
	overflow: auto;
	margin-bottom: 0px;
}

nav .menu li a:hover{
	color: white;
	background-color: #458;
	
}

nav .menu ul{
	z-index: 1;
	position: absolute;
	border-top: 1px solid lightgray;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	margin-left: -1px;
	display: none;
	background-color: white;
	border: 1px solid lightgray;
	width: 170px;

}

nav .menu ul li a{
	margin:1px 0px;
}

nav .menu ul ul{
	margin-left: 167px;
	margin-top:-32px;
	width: 180px;
}

nav .menu ul li a{
	min-width: 130px;
	padding-left: 20px;
}

nav .menu li:hover > ul{
	display: block;
}

/*Estilo para menu desplegable*/
#img_perfil{

	max-width: 40px;
	max-height: 30px;
	
}

#btn_perfil{
	margin-top: 0px;

}

#btn_perfil {
	float: right;
	display: block;
	text-decoration: none;
	
}

.no-padding{
	padding:0px 0px;
}

.btn-menu-perfil{
	overflow: hidden;
	position: absolute;
	display: none;
	list-style: none;
	padding: 0px 0px;
	border-radius: 4px;
	border: 1px solid lightgray;
	background-color: white;
	min-width: 150px;
	z-index: 1;
	margin-top: 32px;
}

.response-area{
	display: none;
}

.btn-menu-perfil li a{
	
	text-decoration: none;
	display: block;
	padding-left:0px;
	line-height: 30px;
	border-bottom: 1px solid lightgray;
	padding-left: 15px;
}

.btn-menu-perfil li a:hover{
	background-color: #337ab7;
	color: white;
}

/*ESTILO PARA FORMULARIOS*/
.form-title{
	display: block;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 10px 10px;
	border-bottom: 1px solid lightgray;
}
/*HELPERS*/
.border{
	border: 1px solid lightgray;
}

.hidden-content{
	display: none;
}